@media screen and (max-width: 1023px) {
    .FondoraGold{
        margin-top: 7vw;
        .pagesWrapper{
            width: clamp(700px, 90vw, 800px);
        }
    }
    
}




@media screen and (max-width: 768px) {
    .FondoraGold{
        .pagesWrapper{
            width: clamp(280px, 90vw, 600px);
        }
        
        
        .mainImg {
            img{
            width: clamp(100px, 80vw, 600px);
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .FondoraGold{
        .extraWrapper {
          flex-wrap: nowrap;
          overflow: scroll;
        //   width: fit-content;
          .extraItem{
            width: 100%;
            min-width: 60vw;
          }
        }
        .optionWrapper {
            margin-bottom: 100px;
        }
    }
    
}
    





@media screen and (max-width: 425px) {
	.FondoraGold {
		

	
        .optionWrapper {
            padding: 0 10px 10px 10px;
            .itemWrapper {
                .option {
                    max-width: 60vw;
                }
            }
        }
		
	}
}