@media screen and (max-width: 1023px) {
    .FondoraGold{
        margin-top: clamp(30px, 10vw, 65px);
        .pagesWrapper{
            width: clamp(700px, 90vw, 800px);
        }
        .mobileWrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 35px 0 120px;
          padding: 0 22px;
          p{
            color: var(--white);
            text-align: center;
            font-family: var(--font-family-urbanist);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

        }
    }
    
}




@media screen and (max-width: 768px) {
    .FondoraGold{
        .pagesWrapper{
            width: clamp(280px, 90vw, 600px);
        }
        
        
        .mainImg {
            img{
            width: clamp(100px, 80vw, 600px);
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .FondoraGold{
        .extraWrapper {
          flex-wrap: nowrap;
          overflow: scroll;
        //   width: fit-content;
          .extraItem{
            width: 100%;
            min-width: 60vw;
          }
        }
    }
    
}
    





@media screen and (max-width: 425px) {
	.FondoraGold {
		

	
        .optionWrapper {
            padding: 0 10px 10px 10px;
            .itemWrapper {
                .option {
                    max-width: 60vw;
                }
            }
        }
		
	}
}