.inputBlock {
	// backdrop-filter: blur(5px);
	background: rgba(4, 4, 4, 0.9);
	width: 100%;
	height: auto;
	position: absolute;
	padding-bottom: 15px;
	bottom: 0;
	left: 0;
	.inputWrapper {
		padding: 10px 10px;
		.input {
			position: relative;
			textarea {
				border: none;
				border-radius: 30px;
				background: rgb(33, 32, 32);
				width: -webkit-fill-available;
				resize: none;
				color: var(--white);
				font-family: var(--font-proxima-nova);
				font-size: 14px;
				// line-height: 7px;
				font-weight: 400;
				letter-spacing: 0%;
				align-content: center;
				// padding: 5px 20px;
				padding: 5px 50px 5px 20px;
			}
			textarea:focus {
				outline: none;
			}

			.sendBtn {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;
				top: 50%;
				right: 2%;
				border-radius: 50%;
				background: linear-gradient(135deg, rgb(27, 26, 27) -0.075%, rgb(185, 185, 185) 99.925%);
				transition: all ease 0.3s;
				transform: translateY(-55%);
				button {
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			@media screen and (min-width: 1024px) {
				.activeSendBtn:hover{
					padding: 6px;
					border: 1px solid rgb(105, 101, 101);
					transition: all ease 0.3s;
				}

			}
			.activeSendBtn {
				background: linear-gradient(135deg, rgb(132, 9, 56) -0.075%, rgb(242, 34, 113) 99.925%);
			}
		}
	}
	.buttonWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;

		button {
			width: 36px;
			height: 36px;
			border-radius: 15px;
			background: rgb(33, 32, 32);
			border: 1px solid transparent;
			transition: all ease 0.3s;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		@media screen and (min-width: 1024px) {
			button:hover{
				background: rgb(54, 52, 52);
				transition: all ease 0.3s;
				border: 1px solid rgb(105, 101, 101);

			}
		}

		.leftPanel {
			display: flex;
			gap: 10px;
		}
	}
}
