.MatchBlock {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;

    &Toggler {
        position: absolute;
        top: 32px;
        left: 10px;
        z-index: 2;
        cursor: pointer;
    }

    &HeartBlock {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}