@media screen and (max-width: 1023px) {
    .ProfileComponent {
        height: calc(100vh - clamp(102px, 13vw, 110px));
        margin: clamp(102px, 13vw, 110px) auto 0;
        --m: 45px;
    }

    .profileOpened {
        .MobileButtons {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .profileOpened {
        .ProfileComponent {
            width: 100vw;
		    min-width: initial;
        }
    }
}