.ProfileComponent {
    max-width: 600px;
    max-height: 935px;
    overflow: auto;
    border-radius: 30px;

    &Title {
        color: #FFF;
        text-align: left;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
        margin: 10px 0 20px;
    }

    &Info {
        background-color: #121212;
        padding: 32px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 10px;
        }

        .tag {
            font-size: 13px;
            color: #A2A2A2;
            display: flex;
            padding: 5px 15px;
            align-items: center;
            gap: 5px;
            border-radius: 30px;
            background: #212020;
            white-space: nowrap;
        }
    }

    &MainInfo {
        display: flex;
        align-items: center;
        gap: 10px;

        .name {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }

        .age {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
        }
    }

    &AdditionalInfo {

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        span {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
    }

    &DescriptionInfo {
        p {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-align: left;
        }
    }

    &Searching {
        &Block {
            display: flex;
            padding: 10px 20px;
            align-items: center;
            gap: 15px;
            align-self: stretch;
            border-radius: 30px;
            background: #212020;
        }

        &Icon {
            font-size: 34px;
            line-height: 31px;
        }

        &Text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &Title {
            color: #A2A2A2;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }

        &SubTitle {
            color: #A2A2A2;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.28px;
        }
    }

    &Buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        &Block {
            display: flex;
            padding: 10px 20px;
            align-items: center;
            gap: 15px;
            align-self: stretch;
            border-radius: 20px;
            border: 1px solid #54484D;
            background: linear-gradient(146deg, #131417 0%, #131417 100%);
        }

        &Icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &Text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &Title {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }

        &SubTitle {
            color: #A2A2A2;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            line-height: 150%;
        }
    }
}