.messageSidebar {
	// margin: 40px 1vw;
	margin: 40px 2px 40px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.sidebarTop {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 10px;

		.backBtn {
			cursor: pointer;
		}
		.textBtn {
			margin: 0 15px;
			color: var(--white);
			cursor: pointer;
			font-family: var(--font-family-urbanist);
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
			letter-spacing: 0%;
			text-align: left;
			padding-bottom: 5px;
			border-bottom: 1px solid transparent;
			transition: all ease 0.3s;
			white-space: nowrap;
		}
		.activeBtn {
			transition: all ease 0.3s;
			color: var(--main-red);
			border-bottom: 1px solid var(--main-red);
		}
	}
	.messagesWrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		// padding: 1vw 0 0 1vh;
		width: -webkit-fill-available;
		margin-top: 10px;
		height: 80vh;
		overflow: auto;
		position: relative;
		ul {
			padding: 0;
			padding-bottom: 120px;
			width: -webkit-fill-available;
			position: absolute;
			margin: 0;
			top: 10px;
			left: 0;

			li {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				// padding: 10px 0;
				padding: 10px 15px 10px 10px;
				border-right: 5px solid transparent;
				cursor: pointer;
				position: relative;
				.userAvatar {
					// margin-right: 20px;
					position: relative;
					img {
						width: 50px;
						height: 50px;
						border-radius: 50%;
					}
					.onLinePin {
						width: 8px;
						height: 8px;
						border-radius: 50%;
						position: absolute;
						right: 0px;
						top: 2px;
						border: 2px solid rgb(28 16 20);
						background-color: rgb(34, 255, 122);
					}
				}
				.userMessage {
					padding: 5px 15px 5px 15px;
					display: flex;
					flex-direction: column;
					width: -webkit-fill-available;
					height: auto;
					.userName {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						gap: 10px;
						.name {
							max-width: 45%;
							span {
								color: #A2A2A2;
								text-align: center;
								font-family: var(--font-family-urbanist);
								font-size: 14px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								letter-spacing: 0.28px;
							}
						}
						.likeLabel {
							border-radius: 5px;
							padding: 2px 5px 2px 5px;
							background: rgb(225, 162, 0);
							span {
								color: var(--black);
								font-family: var(--font-family-urbanist);
								font-size: 12px;
								white-space: nowrap;
								font-weight: 500;
								line-height: 14px;
								letter-spacing: 0%;
								text-align: center;
							}
						}
					}
				}
				.unReadPin {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: var(--main-red);
					flex-shrink: 0;
					transform: translateX(5px);
				}
			}
			.activeChat{
				border-right: 5px solid #F22271;
				background: #3F1927;
			}
		}
	}
}

@import './MediaMessageSidebar.scss';
