@media screen and (max-width: 1023px) {
	.App {
		.pageWrapper {
			.EditMyProfile {
				padding-top: 20px;
				position: absolute;
				top: 4vh;
				.pageItems {
					width: 80vw;
					padding-bottom: 120px;
					.topTittle {
						display: flex;
						align-items: center;
						justify-content: center;
						.tittle {
							font-size: clamp(10px, 2.7vw, 16px);
						}
						.titleWrapper {
							.listTitle {
								font-size: clamp(10px, 2vw, 16px);
							}
						}
					}
					.mediaBlock {
						// justify-content: flex-start;
						.mediaItem {
							max-width: 35vw;
							height: auto;
							// min-height: 165px;
							img {
								max-width: 35vw;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.App {
		.pageWrapper {
			.EditMyProfile {
				.pageItems {
					width: 95vw;
					.topTittle {
						padding: 0 2vw;
					}
					.mediaBlock {
						width: 100% !important;
						display: flex !important;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
						margin: 0 auto;
						max-width: clamp(250px, 80vw, 800px);
						padding-bottom: 20px;
						.mediaItem {
							padding-top: 48vw;
							img {
								width: clamp(160px, 38vw, 240px) !important;
								object-fit: scale-down;
							}
						}
					}
				}
			}
		}
	}
}
