.BlockUserModal{
    .modalWrapper{
        .userAvatar {
          img{
            width: 42px;
            height: 42px;
            border-radius: 50%;
          }
        }
        .question{
            color: #FFF;
            text-align: center;
            max-width: 50%;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.32px;
            margin: 20px 0;
            h4{
                margin: 0;
            }
        }
        .description{
            color: #A2A2A2;
            text-align: center;
            font-family: var(--font-family-urbanist);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 21px */
            letter-spacing: 0.28px;
            max-width: 50%;
        }
        .modalButtons {
            display: flex;
            flex-direction: column;
            width: -webkit-fill-available;
            justify-content: center;
            margin-top: 40px;
            gap: 20px;
        }
    }
}