.Chat{
    background: rgb(18, 18, 18);
    overflow: hidden;
    position: relative;
    padding-left: clamp(200px, 30vw, 356px);
    .chatWrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        height: 100px;
        // left: 0;
        .chatArea {
            position: relative;
            width: -webkit-fill-available;
            .chatBg {
                position: absolute;
                top: 0;
                left: 1vw;
            }
            .chatItems {
                // display: flex;
                // justify-content: center;
                // align-items: flex-start;
                // position: relative;
                // width: 100%;
                // height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                position: relative;
                width: 100%;
                height: 100%;



                .topBlock {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    margin: 43px 20px 0;
                    gap: 20px;
                    width: -webkit-fill-available;
                    z-index: 10;
                    .companionAvatar {
                        position: relative;
                        width: 40px;
                        height: 40px;
                      img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                      }
                      .onLinePin {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        border: 2px solid rgb(28 16 20);
                        background-color: rgb(34, 255, 122);
                      }

                    }
                    .companionDescription {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-radius: 20px;
                        padding: 12px 15px;
                        gap: 10px;
                        width: -webkit-fill-available;
                        background: rgb(21, 21, 21);
                        .avatars{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            img{
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }
                            .rightAvatar{
                                position: relative;
                                right: 5px;
                            }
                        }
                        .info, .date{
                            span{
                                color: var(--main-text-color);
                                font-family: var(--font-family-urbanist);
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 150%;
                                letter-spacing: 0%;
                                text-align: center;
                            }
                        }
                        .date{
                            svg{
                                margin-right: 10px;
                            }
                        }


                    }
                    .buttonsBlock {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                      }


                }
                .chat{
                    height: calc(100% - 150px);
                    width: 100%;
                    position: absolute;
                    top: 0;
               
                    .wrapper {
                        margin: 0 1vw;
                        position: absolute;
                        bottom: 0;
                        height: -webkit-fill-available;
                        display: flex;
                        overflow-y: auto;
                        min-height: 0;
                        flex-direction: column-reverse;
                        width: -webkit-fill-available;
                      .messages {
                        padding-top: 120px;
                        gap: 10px;
                        justify-content: flex-end;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .message{
                            width: 30vw;
                            padding: 15px 20px;

                        }
                        .owner{
                            text-align: end;
                            align-self: flex-end;
                            border-radius: 20px 0px 20px 20px;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(92deg, #373FFF 0.03%, #22CAFF 100.03%), linear-gradient(90deg, #F02270 0.1%, #8A0B3B 102.02%);
                            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);

                        }
                        .notOwner{
                            text-align: start;
                            align-self: flex-start;
                            border-radius: 0px 20px 20px 20px;
                            background: linear-gradient(90deg, #272626 0.1%, #1E1E26 102.02%);
                            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                        }
                      }
                    }

                }
          
            }

        }
        .ProfileComponent {
            width: -webkit-fill-available ;
            height: 100vh;
            max-height: initial;
            border-radius: 0;
        }
    }
}





@import url('./MediaChat.scss');