@media screen and (max-width: 1023px) {

    .Chat{
        width: 100vw;
        height: 100vh;
        z-index: 10;
        .chatWrapper{
            .userBlock {
              display: none;
            }
        }
    }
    
}