@media screen and (max-width: 1023px) {
	.Report {
		.wrapper {
			.note {
				span {
					color: #a2a2a2;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.Report{
		.wrapper{
			max-width: 90% !important;
		}
	}
	
}

@media screen and (max-width: 425px) {
	.Report {
		.wrapper {
			.tittle {
				width: 100%;
			}
			.moreInfo {
				span {
					padding-left: 1vw;
				}
			}
		}
	}
}
