.EmptyChat{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        color: var(--white);
        text-align: center;
        font-family: var(--font-family-urbanist);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 20px 0 10px;
    }
    span{
        color: #A2A2A2;
        text-align: center;
        font-family: var(--font-family-urbanist);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    }
}