.ChatGifs {
	display: block;
	height: -moz-fit-content;
	height: fit-content;
	overflow: hidden;
	max-width: -webkit-fill-available;
	.input {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		textarea {
			width: -webkit-fill-available;
			align-items: center;
			gap: 10px;
			border-radius: 30px;
			background: #212020;
			border: 1px solid transparent;
			margin: 10px;
			resize: none;
			color: var(--white);
			font-family: var(--font-proxima-nova);
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0%;
			align-content: center;
			padding: 10px 20px 10px 40px;
			transition: all ease 0.3s;
		}
		textarea:focus {
			outline: none;
			border: 1px solid #54484D;
			transition: all ease 0.3s;


		}

		svg {
			position: absolute;
			transform: translate(100%);
		}
	}
	.keen-slider {
		width: calc(100% - 20px);
		gap: 1vw;
		margin: 0 10px;
		padding-bottom: 10px;

		.keen-slider__slide{
			max-width: fit-content !important;
			min-width: fit-content !important;
		}
	}
	.sliderBtnWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		.arrow{
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			background: rgba(3, 3, 3, 0.70);
			margin: 0 20px;

			@media screen and (min-width: 1024px) {
				&:hover {
					svg {
						path {
							fill: #DF3C5E !important;
						}
					}
				}
			}
		}
		.arrow--disabled{
			z-index: -10;
		}

	}
}
@media screen and (max-width: 1023px) {
	.ChatGifs {
		.keen-slider {
			max-width: 100%;
			// padding-right: 20px;
			flex-wrap: nowrap;
		}
		.gifWrapper{
			display: grid;
			grid-template-rows: repeat(2, auto);
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			overflow: hidden;
		}
		.keen-slider__slide{
			margin: 0 auto;
		}
		.sliderBtnWrapper{
			display: none;
		}
		

	}
}
