.AddPhoto {
	position: relative;

	.btn {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		// width: 20vw;
		margin: 10px 20px 0;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			padding: 5px;
			border-radius: 50%;
			background: linear-gradient(135deg, rgb(27, 26, 27) -0.075%, rgb(185, 185, 185) 99.925%);
		}
	}

	&Block {
		width: calc(100% - 20px);
		padding: 10px 10px 15px;
		margin-bottom: 10px;
		position: relative;
	}

	.photoWrapper {

		.item {
			position: relative;
			width: fit-content;
			overflow: initial;
			min-width: auto;
			font-size: 0;

			img {
				height: 90px;
    			width: auto;
			}
			.addPhoto {
				width: 20px;
				height: 20px;
				border: 4px solid white;
				position: absolute;
				top: 5px;
				right: 5px;
				border-radius: 50%;
				font-size: 14px;
			}
		}
		.activeItem {
			.addPhoto {
				// border: 4px solid var(--main-red);
				border: 4px solid transparent;
				background: rgba(0, 0, 0, 0.75);
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
			}
		}
	}
	.sliderBtnWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.arrow{
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			background: rgba(3, 3, 3, 0.70);
			margin: 0 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			&--left{
				left: 20px;
			}

			&--right{
				right: 20px;
			}
			.arrow--disabled{
				z-index: -10;
			}

			@media screen and (min-width: 1024px) {
				&:hover {
					svg {
						path {
							fill: #DF3C5E !important;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.AddPhoto {
		.btn {
			margin: 10px 20px;
			.defaultBtn {
				span {
					font-size: clamp(10px, 3vw, 14px);
				}
			}
		}
		.sliderBtnWrapper {
			display: none;
			.arrow{
				width: 30px;
				height: 30px;

				&--left{
					left: 5px;
				}

				&--right{
					right: 5px;
				}

				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
