.GoalPage {
	.container{
		// width: clamp(250px, 90vw, 950px);
		// margin: 0 auto;

		.logo {
			height: 10vh;
			padding-bottom: 30px;
		}
	
		.banner {
			position: relative;
	
			img {
				width: clamp(250px, 90vw, 950px);
				// width: -webkit-fill-available;
			}
			.bannerTittle {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;
				top: 5%;
				left: 10%;
				margin: 0 auto;
				width: 72vw;
				h2 {
					color: #261e1a;
					font-family: var(--font-family-urbanist);
					font-size: 25px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					text-align: left;
				}
				.imageBorder {
					width: clamp(150px, 26vw, 250px);
					border-radius: 10px;
					position: relative;
					height: 35vw;
					border: 4px solid white;
					svg {
						background: #5d3232;
						border-radius: 50%;
						position: absolute;
						width: clamp(20px, 5vw, 50px);
						height: clamp(20px, 5vw, 50px);
						bottom: 10px;
						right: 10px;
					}
				}
			}
			.verificationBlock {
				position: absolute;
				bottom: 10%;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: calc(100% - 20vw);
				margin: 0 10vw;
				.text {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					h1 {
						color: #fff;
						font-family: var(--font-family-urbanist);
						font-size: clamp(12px, 2.5vw, 20px);
						font-style: normal;
						font-weight: 700;
					}
					span {
						color: #e7e7e7;
						text-align: center;
						font-family: var(--font-family-urbanist);
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						letter-spacing: 0.24px;
					}
				}
				.defaultBtn {
					max-width: 20vw;
					padding: 1vw 0;
					span {
						font-size: clamp(10px, 2.5vw, 20px);
					}
				}
			}
		}
		.tittle {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: center;
			padding: 0 5vw;
			width: -webkit-fill-available;
			margin-bottom: 30px;
			margin: 20px 0 10px;
			h2 {
				// margin: 2vw 0;
				color: var(--white);
				font-family: var(--font-family-urbanist);
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				margin: 0;
			}
			.subtext {
				padding-top: 10px;
				color: #a2a2a2;
				font-family: var(--font-family-urbanist);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 18px */
			}
		}
		.cardWrapper {
			display: flex;
			flex-wrap: wrap;
			row-gap: 20px;
			justify-content: center;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 100px;
			width: clamp(250px, 90vw, 950px);

			.card {
				position: relative;
				border-radius: 10px;
				overflow: hidden;
				width: 48%;
				height: 55vw;
				img {
					// position: absolute;
					height: -webkit-fill-available;
					width: 100%;
					object-fit: fill;
				}
				.bg {
					background: rgba(0, 0, 0, 0.3);
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
				span {
					position: absolute;
					// top: clamp(100px, 3vw, 200px);
					top: 70%;
					left: 10%;
					// font-size: clamp(10px, 2vw, 20px);
					color: var(--white);
					font-family: var(--font-family-urbanist);
					font-size: clamp(14px , 5vw, 46px);
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					text-align: start;
					max-width: 65%;
				}
			}
		}
	}
}
