.MobileChat{
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    overflow: hidden;
    // overflow-y: auto;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(18, 18, 18)0%, rgba(11, 11, 11) 100%);
    backdrop-filter: blur(10px);
    z-index: 15;
    .container{
        margin: 0 clamp(15px, 5vw, 30px);
        height: -webkit-fill-available;
        .chatHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 20px 0;
            svg{
                width: clamp(17px, 5vw, 27px);
                height: clamp(17px, 5vw, 27px);
            }
            .backBtn {
              a{
                svg{
                    width: clamp(15px, 5vw, 25px);
                height: clamp(15px, 5vw, 25px);

                }
              }
            }
            .userAvatar {
                display: flex;
                justify-content: center;
                position: absolute;
                width: 100%;
                z-index: -1;
                .wrapper{
                    position: relative;
                    img{
                        width: clamp(35px, 7vw, 50px);
                        height: clamp(35px, 7vw, 50px);
                        border-radius: 50%;
    
                    }
                    .onLinePin {
                      width: 5px;
                      height: 5px;
                      border-radius: 50%;
                      position: absolute;
                      right: 0px;
                      top: 0px;
                      border: 2px solid rgb(28 16 20);
                      background-color: rgb(34, 255, 122);
                    }
                }
            }
            .chatBtn{
                display: flex;
                justify-content: flex-end;
                gap: 10px;
            }
        }
        .chatArea {
            width: 100%;
            // height: 100%;
            height: calc(100% - 220px);
            position: relative;

            .background {
                position: absolute;
                top: 0;
                left: -40px;
                width: 110vw;
                // width: -webkit-fill-available;
                height: 100vh;
                background-image: url('../../assets/images/chatBg.png');
            }
            .metInfo {
                width: fit-content;
                height: auto;
                border-radius: 20px;
                background: #151515;
                padding: 12px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 0 auto;
                gap: clamp(5px, 1vw, 10px);
                top: 10px;
                z-index: 5;
                .avatars{
                    img{
                        width: clamp(30px, 5vw, 35px);
                        height: clamp(30px, 5vw, 35px);
                        border-radius: 50%;
                    }
                    .second{
                        position: relative;
                        right: 5px;
                    }
                }
                .information{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: clamp(5px, 1vw, 10px);
                    // gap: 10px;
                    span{
                        color: #A2A2A2;
                        text-align: center;
                        font-family: var(--font-family-urbanist);
                        font-size: clamp(12px, 2vw, 14px);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 18px */
                    }
                    .date{
                        svg{
                            position: relative;
                            top: 5px;
                            padding-right: clamp(5px, 1vw, 10px);
                        }
                    }

                }
                
               
              
            }
            .chatWrapper {
                position: absolute;
                bottom: 0;
                height: -webkit-fill-available;
                padding: 80px 0 0 0;
                display: flex;
                overflow-y: auto;
                min-height: 0;
                flex-direction: column-reverse;
                width: 100%;
                .messages {
                    gap: 10px;
                    justify-content: flex-end;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .message {
                
                        padding: 15px 20px;
                        width: 75vw;
                        text-align: left;
                        // position: relative;
        
                        // position: absolute;
        
                        span{
                            color: white;
                            font-family: var(--font-family-urbanist);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%; /* 21px */
        
                        }
                      }
                      .owner{
                        border-radius: 20px 0px 20px 20px;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(92deg, #373FFF 0.03%, #22CAFF 100.03%), linear-gradient(90deg, #F02270 0.1%, #8A0B3B 102.02%);
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                        align-self: flex-end;
                      }
                      .notOwner{
                        border-radius: 0px 20px 20px 20px;
                        background: linear-gradient(90deg, #272626 0.1%, #1E1E26 102.02%);
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                        align-self: flex-start;
        
                      }
                }
              
            }
            
            

        }
    }
    
}
@media screen and (max-width: 375px) {
    .MobileChat{
        .container{
            .chatArea {
                .metInfo { 
                    // flex-direction: column;
                    justify-content: space-between;
                    // .date{
                    //     display: flex;
                    // }
                    width: -webkit-fill-available;
                    .information{
                        flex-direction: column;
                        align-items: center;
                    }
                  
                }
                
    
            }
        }
        
    }
        
}