.App{
	.pageWrapper{
		.LikesTopProfile {
			padding-left: 27vw;

			.PagesWrapper {
				width: 600px;
				.topButtons {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-top: 20px;
					.filter {
						display: flex;
						align-items: center;
						justify-content: center;
						max-width: fit-content;
						box-sizing: border-box;
						border: 1px solid rgb(84, 72, 77);
						border-radius: 50%;
						padding: 10px;
						margin-right: 5px;
						cursor: pointer;
						background: linear-gradient(135deg, rgb(19, 20, 23) 0%, rgb(19, 20, 23) 100%);

						@media screen and (min-width: 1024px) {
							&:hover {
								background: linear-gradient(135deg, rgb(73 73 73) 0%, rgb(46 46 46) 100%);
							}
						}
					}

					.buttonItem {
						max-width: fit-content;
						display: flex;
						justify-content: flex-start;
						margin: 0 5px;
						padding: 10px 15px;
						box-sizing: border-box;
						border: 1px solid rgb(84, 72, 77);
						border-radius: 20px;
						cursor: pointer;
						background: linear-gradient(135deg, rgb(19, 20, 23) 0%, rgb(19, 20, 23) 100%);

						@media screen and (min-width: 1024px) {
							&:hover {
								background: linear-gradient(135deg, rgb(73 73 73) 0%, rgb(46 46 46) 100%);
							}
						}

						span {
							color: var(--main-text-color);
							font-family: var(--font-family-urbanist);
							font-size: 12px;
							font-weight: 500;
							line-height: 150%;
							letter-spacing: 0%;
						}
					}
				}
				.bannerGold {
					border-radius: 10px;
					padding: 10px 15px;
					margin: 20px 0;
					background: linear-gradient(180deg, rgb(255, 190, 24), rgb(255, 186, 10) 100%);
					.bannerDescription {
						display: flex;
						justify-content: flex-start;
						p {
							color: var(--black);
							font-family: var(--font-family-urbanist);
							font-size: 13px;
							font-weight: 500;
							line-height: 150%;
							letter-spacing: 0%;
							text-align: left;
						}
					}
					.bannerWrapper {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.item {
							display: flex;
							justify-content: space-between;
							align-items: center;
							.marker {
								border-radius: 5px;
								padding: 0 5px;
								margin: 0 10px;
								background: rgb(0, 0, 0);
								span {
									color: rgb(225, 162, 0);
									font-family: var(--font-family-urbanist);
									font-size: 12px;
									font-weight: 600;
									line-height: 14px;
									letter-spacing: 2%;
									text-align: center;
								}
							}
						}
					}
				}
				.pageGallery {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					margin-bottom: 80px;
					gap: 10px;
					.item {
						width: 100%;
						height: 100%;
						position: relative;
						overflow: hidden;
						cursor: pointer;
						border-radius: 10px;
						.userPhoto{
							position: relative;
							img {
								background: linear-gradient(135deg, rgb(36, 22, 27) 0%, rgba(26, 23, 23, 0) 100%), rgb(11, 11, 11);
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								min-width: 100%;
								min-height: 100%;
								// z-index: 1;
							}
						}
						.userPhoto::before {
							display: block;
							content: "";
							width: 100%;
							padding-top: 160%;

						}

						.recentlyActive {
							display: flex;
							align-items: center;
							position: absolute;
							bottom: 16px;
							left: 10px;
							.markActivity {
								width: 8px;
								height: 8px;
								border-radius: 50%;
								margin-right: 10px;
								background: rgb(18, 255, 42);
							}
							.description {
								span {
									color: var(--white);
									font-family: var(--font-family-urbanist);
									font-size: 12px;
									font-weight: 500;
									line-height: 150%;
									letter-spacing: 0%;
									text-align: left;
								}
							}
						}
						.topProfileInfo {
							display: flex;
							// align-items: center;
							align-items: flex-start;
							justify-content: space-between;
							position: absolute;
							bottom: 16px;
							width: -webkit-fill-available;
							padding: 0 10px;
							.userInfo {
								// display: inherit;
								// justify-content: flex-start;
								max-width: 80%;
								.userName {
									text-align: left;
									span {
										color: var(--white);
										font-family: var(--font-family-urbanist);
										font-size: 14px;
										font-weight: 700;
										line-height: 150%;
										letter-spacing: 0%;
										text-align: left;
										white-space: normal;
									}
								}
								.timeStamp {
									text-align: start;
									span {
										color: rgb(231, 231, 231);
										font-family: var(--font-family-urbanist);
										font-size: 12px;
										font-weight: 800;
										line-height: 150%;
										letter-spacing: 2%;
										text-align: center;
									}
									.hoursMark {
										color: rgb(238, 175, 11);
									}
								}
							}
							.topProfileMark {
								display: flex;
								align-items: center;
								justify-content: center;
								border-radius: 20px;
								padding: 5px;
								background: linear-gradient(135deg, rgb(172, 125, 2) 0%, rgb(255, 187, 12) 100%);
								position: absolute;
								bottom: 5%;
								right: 5%;
							}
						}
					}
				}
				.callToActions {
					position: fixed;
					bottom: 2%;
					width: inherit;
					.defaultBtn{
						width: 90%;
						margin: 0 auto;
					}
				}
			}
		}

	}
}


@import url('./MediaLikesTopProfile.scss');
